html, body {
    font-family: 'Stalinist One' !important;
}

body {
    background-image: url("bars-background.jpg");
    background-repeat: repeat;
}

select {
    height: 5vh;
    border: none;
    border-radius: 20px;
    background-color: #060870;
    color: white;
    padding-left: 1.5%;
    box-shadow: 0 1.3vh black;
    font-family: 'Stalinist One';
    font-size: 2vh;
    margin-bottom: 2px;
}

select:hover {
    background-color: #1b03f3;
}

#speedInputField {
    width: 100%;
}

#formationField{
    width: 20%;
    margin-left: 7%;
}

#projPlaceholder {
    margin: 0 auto;
    height: 80vh;
    width: 90vw;
    background-color: #7e000a;
    color: black;
    font-size: 2.4vh;
    cursor: crosshair;
    position: relative;
    z-index: 1;
    /* Disables highlighting for any of the elements in this class. Each is a different browser compatibility. */
    -webkit-touch-callout: none; /* iOS Safari. */
    -webkit-user-select: none; /* Safari. */
    -moz-user-select: none; /* Older Versions of Firefox. */
    -ms-user-select: none; /* IE/Edge. */
    user-select: none; /* Chrome, Opera and Firefox. */
}

#imageBall {
    position: absolute;
    pointer-events: none;
    z-index: 3;
    margin: 0;
    width: 5%;
    height: 5%;
    display: none;
    left: 95%;
    top: 95%;
    background-color: #81fff54f;
    border-radius: 44%;
}

#powerUp {
    pointer-events: none;
    position: absolute;
    margin: 0;
    height:7%;
    width: 7%;
    z-index: 4;
    display: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: #07e95e44;
}

#stageBackground {
    position: absolute;
    margin: auto;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    height: 75%;
    width: 75%;
}

img[id*="object"] {
    width: 10%;
    height: 10%;
    position: absolute;
    z-index: 5;
    display: none;
    margin: 0;
    border-radius: 50%;
    pointer-events: none;
    background-color: #0f1de75b;
}

.inGameText {
    position: absolute;
    z-index: 6;
    width:25%;
    white-space: nowrap;
    opacity: 72%;
}

.outGameText {
    color: white;
    font-size: 2.5vh;
}

/* Dynamic Button Functionality begins here. Adds styling for when the button is interacted with, i.e. When the mouse hovers over it etc. */
.startButton {
    display: inline-block;
    padding-bottom: 1vh;
    padding-top: 1vh;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #c6e0f1;
    background-color: #060870;
    border: none;
    border-radius: 20px;
    box-shadow: 0 1.3vh black;
    float: right;
    height: 5vh;
    width: 20vw;
    font-family: 'Stalinist One';
    font-size: 2.4vh;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* 'Start' version of the 'startButton' (hovering effects). */
.startButton:hover {
    background-color: #1b03f3;
}

/* 'Start' version of the 'startButton'. */
.startButton:active {
    background-color: #060870;
    transform: translateY(4px);
}

/* 'Quit' version of the 'startButton'. */
button[label="quitB"] {
    background-color: #b10c00;
}

/* 'Quit' version of the 'startButton' (hovering effects). */
button:hover[label="quitB"] {
    background-color: rgb(105, 1, 1);
}

.startButton:active[label="quitB"] {
    background-color: #b10c00;
    transform: translateY(4px);
}

/* Dialog Pop-up: Title Bar Properties. */
span[id="ui-id-1"] {
    background-color: #060870;
    color: rgb(105, 4, 4);
    text-align: center;
    font-family: 'Stalinist One';
}

/* Dialog Pop-up: The Alert Box Parent Element - Outer Border (and the whole of the dialog box behind the text box/title bar) Properties. */
div[id="dialog"] {
    background-color: #060870 !important;
    color: rgb(105, 4, 4);
    text-align: center;
    display: none;
    font-size: 60px;
    font-family: 'Stalinist One';
}

/* Targets all img tags that have an id at least inclusive of the string 'imagePlayer'. */
img[id*="imagePlayer"] {
    position: absolute;
    margin: 0;
    height:8%;
    width: 8%;
    z-index: 4;
    display: none;
    border-radius: 50%;
    background-color: #bd0d007e;
}

img:hover[id*="imagePlayer"] {
    background-color: #ff0000;
}